<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="index.css" />
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scaled=1" />
    <title>Free Youtube Converter</title>
    <script
      src="https://kit.fontawesome.com/1fab7349ee.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="background">
    <div class="header">
      <img src="images/Logo2.jpg" class="logo" />
      <input type="checkbox" id="chk" />
      <label for="chk" class="show-menu-btn">
        <i class="fas fa-ellipsis-h"></i>
      </label>

      <ul class="menu">
        <a href="index.html">Converter</a>
        <a href="services.html">Terms And Services</a>
        <a href="about.html">About Me</a>
        <a href="contact.html">Contact Me</a>
        <label for="chk" class="hide-menu-btn">
          <i class="fas fa-times"></i>
        </label>
      </ul>
    </div>

    <div class="content">
      <center>
        <img src="images/trial pic.jpeg" alt="Invalid-Format" />
      </center>

      <p>About Me Page</p>
    </div>
  </body>
</html>
