<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="{{ url_for('static',filename='index.css')}}" />
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scaled=1" />
    <title>Free Youtube Converter</title>
    <script
      src="https://kit.fontawesome.com/1fab7349ee.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="background">
    <div class="header">
      <img src="{{pic4}}" class="logo" />
      <input type="checkbox" id="chk" />
      <label for="chk" class="show-menu-btn">
        <i class="fas fa-ellipsis-h"></i>
      </label>

      <ul class="menu">
        <a href="index.html">Converter</a>
        <a href="services.html">Terms And Services</a>
        <a href="about.html">About Me</a>
        <a href="contact.html">Contact Me</a>
        <label for="chk" class="hide-menu-btn">
          <i class="fas fa-times"></i>
        </label>
      </ul>
    </div>
    </div>
    <iframe class="form"
    src="https://docs.google.com/forms/d/e/1FAIpQLSeTR8fGFBXkrrjIpQsD65v1CT8rj4mtO8d5HZaulIZINOBmaQ/viewform?embedded=true"
    width="640"
    height="2066"
    frameborder="0"
    marginheight="0"
    marginwidth="0"
    >Loading…</iframe>
  </body>
</html>
