<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="{{ url_for('static',filename='index.css')}}" />
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scaled=1" />
    <title>Free Youtube Converter</title>
    <script
      src="https://kit.fontawesome.com/1fab7349ee.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="background">
    <div class="header">
      <img src="{{pic4}}" class="logo" />
      <input type="checkbox" id="chk" />
      <label for="chk" class="show-menu-btn">
        <i class="fas fa-ellipsis-h"></i>
      </label>

      <ul class="menu">
        <a href="index.html">Converter</a>
        <a href="services.html">Terms And Services</a>
        <a href="about.html">About Me</a>
        <a href="contact.html">Contact Me</a>
        <label for="chk" class="hide-menu-btn">
          <i class="fas fa-times"></i>
        </label>
      </ul>
    </div>

    <div class="center">
      <h1>Terms and Services</h1>
      <br />
      <h5>(A guide to appropriately use this website)</h5>
      <br />
    </div>
    <div class="center">
      <p>
        <strong>Your Acceptance</strong>
        <br />
        By visiting and submitting content to this website, you signify to your
        assent to these terms and conditions. These Terms & Conditions apply to
        all users of the website. If you do not agree to these Terms &
        Conditions or the Privacy Policy, then please do not use the website.
      </p>
      <br />
      <p>
        <strong>Copyright and Content Policy</strong>
        <br />
        fastconverter.heroku.app respects the intellectual property rights of
        others and requests you to do the same. fastconverter.heroku.app does
        not permit infringement of intellectual property rights on its platform,
        and will promptly suspend commercial content (served via a publicly
        available web address / URL) from being able to be converted and
        downloaded by its platform when kindly notified. If you are a content
        creator/owner, copyright owner or an agent thereof and would like to
        disable the possible use of fastconverter.heroku.app's platform to
        convert your publicly available content, please kindly send us a request
        via e-mail at with the following information: the URL(s) and
        description(s) of the content(s) you want us to block; a form of
        electronic or physical evidence showing that you have the rights to act
        for the content(s); contact information that is reasonably sufficient to
        permit us to contact you such as a valid e-mail address.
      </p>
      <br />
      <p>
        <strong>Website Access</strong>
        <br />
        - (i) your use of the website is solely for your personal and
        noncommercial use.
        <br />
        - (ii) you will not copy, distribute, or modify any part of the website
        without fast-converter.pythonanywhere.com's written authorization.
        <br />
        - (iii) you will not transmit any content containing software viruses or
        other harmful computer codes, files, or programs that may harm the
        system.
        <br />
        - (iv) you comply with these Terms & Conditions. You are solely
        responsible for the activity that occurs on this website. You agree not
        to use or launch any automated system. You agree not to solicit for
        commercial purposes, any users of the website with respect to their User
        Submissions.
      </p>
      <br />
      <p>
        <strong>Trademarks</strong>
        <br />
        fastconverter.heroku.app service marks, product names, and trade names
        of fastconverter.heroku.app appearing on the services are owned(not
        officially) by fastconverter.heroku.app.
      </p>
      <br />
      <p>
        <strong>The ability to accept Terms & Conditions</strong>
        <br />
        You affirm that you are either more than 13 years of age or possess
        legal parental or guardian consent to enter into these Terms &
        Conditions, and to comply with these Terms of Use. In any case, you
        affirm that you are over the age of 13, as the website is not intended
        for children under 13. If ytou are under 13 years of age, then please
        refrain from visiting and using this website.
      </p>
    </div>
  </body>
</html>
